@import url(https://fonts.googleapis.com/css?family=Roboto);

/*
   Elements
*/
i {
   color: white;
}

i:hover {
   cursor: pointer;
   color: #E87722;
}

/*
   Main
*/

.fancy-head {
   display: inline-block;
   width: 100%;
   height: 100px;
   background-color: #4ebbff;
   color: #4ebbff;
   padding: 0 0 0 0;
}

.logo {
   display: inline-block;
   position:center;
   padding: 0.5% 0 0 1%;
   height: 80px;
   width: 130px;
}

.contain {
   padding:0 0 7% 20.5%;
   display: inline-block;
}

.vid {
   display: inline-block;
	width: 54.5%;
	height:20%;
	padding: 5% 0 0 8%;
}

.control-bar {
	display: inline-block;
	border-radius:10px;
   width: 57.5%;
	height: 70px;
	padding: 0 0 0 15px;
	background-color: #363636;
	height:87%;
	color: white;
   opacity: 0.8;
}

.progress {
   -webkit-appearance: none;
   width:53%;
   height:20%;
   margin-top:0.125rem;
   border:none;
   color:#0095dd;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   /*background-color: #0077b3;*/
   background: linear-gradient(to right,  #666 0%,#666 50%,#666 50%,#666 100%);
}

.progress::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: #fff;
   height: 12px;
   width: 20px;
   border-radius: 30%;
   cursor: pointer;
}

.soundLv {
   -webkit-appearance: none;
   width:10%;
   height:20%;
   margin-top:0.125rem;
   border:none;
   color:#0095dd;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background-color: #666;
}

.soundLv::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: #fff;
   height: 12px;
   width: 20px;
   border-radius: 30%;
   cursor: pointer;
}

.styled-span {
	font-family: Roboto;
	color: white;
}

.fancy-foot {
   display: inline-block;
   width: 100%;
   height: 80px;
   background-color: #4ebbff;
   color: #4ebbff;
   padding: 0 0 0 0;
}

.links {
   padding: 30px 0 0 43%;
}
